:global {
  body[data-theme="light"] {
    --icon-color: var(--black);
  }
  body[data-theme="dark"] {
    --icon-color: var(--white);
  }
}

.icons {
  color: var(--icon-color);
}

.styleGray {
  color: gray;
}

.menuIcons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}
