:global {
  body[data-theme="light"] {
    --text-color: var(--black);
    --borderColor: var(--blackBorder);
  }
  body[data-theme="dark"] {
    --text-color: var(--white);
    --borderColor: var(--whiteBorder);
  }
}

.checkoutList {
  list-style-type: decimal;
  font-size: larger;
  font-weight: 500;
}

.center {
  border: var(--borderColor);
  padding: 40px;
  margin-top: 20px;
}
.checkout {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkoutNumber {
  display: inline-block;
  position: relative;
}

.checkoutNumber::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0623;
}
.checkoutNumber:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
