:global {
  body[data-theme="light"] {
    --text-color: var(--black);
    --borderColor: var(--blackBorder);
    --display-none-light: var(--display-none);
    --buttonColor: var(--white);
  }
  body[data-theme="dark"] {
    --text-color: var(--white);
    --borderColor: var(--whiteBorder);
    --display-none-dark: var(--display-none);
    --buttonColor: var(--gray-500);
  }
}

.checkoutList {
  list-style-type: decimal;
  font-size: larger;
  font-weight: 500;
}

.pizzaCheckOut {
  display: var(--display-none-dark);
  max-width: 350px;
}

.pizzaCheckOutBlack {
  display: var(--display-none-light);
  max-width: 350px;
}

.center {
  border: var(--borderColor);
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.goToMainPageButton {
  background-color: var(--buttonColor);
  color: var(--text-color);
  border-radius: 20px;
  padding: 10px;
  font-weight: 800;
  border: var(--borderColor);

  &:hover {
    background-color: rgb(237, 20, 12);
    transition: 0.6s;
  }
}
.checkout {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutNumber {
  display: inline-block;
  position: relative;
}

.checkoutNumber::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0623;
}
.checkoutNumber:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 720px) {
  .checkout {
    flex-direction: column;
  }
}
